 body {

font-family: Playfair Display;

margin: 0;
  
background-color: #ffe3f5;

padding: 0;

}

header, nav, footer {

background-color: #ffff60;

padding: 10px;

text-align: center;

}

nav ul {

list-style-type: Playfair Display;

padding: 0;

}

nav ul li {

display: inline;

margin: 10px;

}

nav ul li a {

text-decoration: none;

color: #33;

}

main {

padding: 15px;
  
background-color: #abff60;
  
font-size: 1.2em;

}

.section {

margin-bottom: 20px;
  
background-color: #abff60;
 
text-align: center;

}
        nav ul li {
            display: inline;
            margin: 10px;
}
        body {
             text-align: center;
            display: inline;
        }
        section {
            display: inline;
            display: flex;
            justify-content: center; 
             text-align: center;
            align-items: center; 
            height: 100vh; 
        }
        img {
            max-width: 80%; 
            height: auto; 
        }
